.button-light{
	height: 40px;
	width: 120px;
	border:none;
	-webkit-box-shadow: 0 3px 9px -4px #777;
	-moz-box-shadow: 0 3px 9px -4px #777;
	box-shadow: 0 3px 9px -4px #777;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-repeat: repeat-x ;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8wOS8xMy9tyI8AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAANUlEQVRIie3PQQ0AIAwEwYPgXxlS8NCa6IPHrIBJdtVNZbA9iQGBQCAQCAQCgcCcvFnw/+UGLzEECO2MvMAAAAAASUVORK5CYII=);
}

.button{
	border: none;
	background: #FFCC00;
	padding: 10px 10px 12px;
	line-height: 1;
	display: inline-block;
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 5px #FFB800, 0 2px 5px #FFB800, 0 3px 1px #FFB800;
	-moz-box-shadow: 0 1px 5px #FFB800, 0 2px 5px #FFB800, 0 3px 1px #FFB800;
	box-shadow: 0 1px 5px #FFB800, 0 2px 5px #FFB800, 0 3px 1px #FFB800;
}

.button-test{
	margin: 5px;
}